<div class="sidebar">
    <ul class="sidebar-menu">

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/home" routerLinkActive="active">
                <i class="fa fa-home"></i>
                <span> Home </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/overview" routerLinkActive="active">
                <i class="fa fa-dashboard"></i>
                <span> Overview </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/angular-components"
                [class.active]="isComponentsNavActive()">
                <i class="fa fa-cubes"></i>
                <span> Components </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/directives" routerLinkActive="active">
                <i class="fa fa-code"></i>
                <span> Directives </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/pipes" routerLinkActive="active">
                <i class="fa fa-filter"></i>
                <span> Pipes </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/signals" routerLinkActive="active">
                <i class="fa fa-bolt"></i>
                <span> Signals </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/routing" routerLinkActive="active">
                <i class="fa fa-random"></i>
                <span> Routing </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/forms" routerLinkActive="active">
                <i class="fa fa-file"></i>
                <span> Forms </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/service-di" routerLinkActive="active">
                <i class="fa fa-plug"></i>
                <span> Service & DI </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/apis" routerLinkActive="active">
                <i class="fa fa-cloud"></i>
                <span> APIs </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/performance" routerLinkActive="active">
                <i class="fa fa-tachometer"></i>
                <span> Performance </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/state" routerLinkActive="active">
                <i class="fa fa-database"></i>
                <span> State </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/testing" routerLinkActive="active">
                <i class="fa fa-check-circle"></i>
                <span> Testing </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link nav-vertical" routerLink="/build-deploy" routerLinkActive="active">
                <i class="fa fa-rocket"></i>
                <span> Build & Deploy </span>
            </a>
        </li>
    </ul>

</div>